section.excursions_main
    div.container
        
        div.breadcrumbs
            a(href="index.html") Главная 
            span.divide - 
            a(href="index.html") Каталог 
            span.divide - 
            span Популярные направления

        h1 Популярные направления

        div.categories
            a(href="index.html").category
                img(src="images/18.webp", alt="Туры без ночных переездов")
                h5 Туры без ночных переездов
            a(href="index.html").category
                img(src="images/17.webp", alt="Экскурсии по Нижегородской области и регионам")
                h5 Экскурсии по Нижегородской области и регионам
            a(href="index.html").category
                img(src="images/16.webp", alt="Событийные экскурсии")
                h5 Событийные #[br]экскурсии
