include ../../common/pug/_mixins.pug

section.tourlist
    div.container
        +excursion_card('images/8.webp', 'Майские праздники в Москве', '100 000 ₽')
        +excursion_card('images/8.webp', 'Майские праздники в Москве', '100 000 ₽')
        +excursion_card('images/8.webp', 'Майские праздники в Москве', '100 000 ₽')
        +excursion_card('images/8.webp', 'Майские праздники в Москве', '100 000 ₽')
        +excursion_card('images/8.webp', 'Майские праздники в Москве', '100 000 ₽')
        +excursion_card('images/8.webp', 'Майские праздники в Москве', '100 000 ₽')
        +excursion_card('images/8.webp', 'Майские праздники в Москве', '100 000 ₽')
        +excursion_card('images/8.webp', 'Майские праздники в Москве', '100 000 ₽')
        +excursion_card('images/8.webp', 'Майские праздники в Москве', '100 000 ₽')
        +excursion_card('images/8.webp', 'Майские праздники в Москве', '100 000 ₽')
        +excursion_card('images/8.webp', 'Майские праздники в Москве', '100 000 ₽')
        +excursion_card('images/8.webp', 'Майские праздники в Москве', '100 000 ₽')