section.excursions_main
    div.container
        
        div.breadcrumbs
            a(href="index.html") Главная 
            span.divide - 
            a(href="index.html") Каталог 
            span.divide - 
            a(href="index.html") Популярные направления 
            span.divide - 
            span Туры без ночных переездов

        h1 Туры без ночных переездов
