section.hotels_main
    div.container
        
        div.breadcrumbs
            a(href="index.html") Главная 
            span.divide - 
            a(href="index.html") Каталог 
            span.divide - 
            span Отели

        h1 Отели - поиск лучших предложений

        div.categories
            div.subcategory
                h4 Россия
                div.list
                    a(href="index.html").category
                        img(src="images/18.webp", alt="Анапа")
                        span Анапа
                    a(href="index.html").category
                        img(src="images/17.webp", alt="Судак")
                        span Судак
                    a(href="index.html").category
                        img(src="images/16.webp", alt="Архипо-Осиповка")
                        span Архипо-Осиповка
                    a(href="index.html").category
                        img(src="images/18.webp", alt="Кабардинка")
                        span Кабардинка
                    a(href="index.html").category
                        img(src="images/17.webp", alt="Ольгинка")
                        span Ольгинка
                    a(href="index.html").category
                        img(src="images/16.webp", alt="Дивноморское")
                        span Дивноморское
            div.subcategory
                h4 Абхазия
                div.list
                    a(href="index.html").category
                        img(src="images/18.webp", alt="Гагра")
                        span Гагра
                    a(href="index.html").category
                        img(src="images/17.webp", alt="Новый Афон")
                        span Новый Афон
                    a(href="index.html").category
                        img(src="images/16.webp", alt="Цандрипш")
                        span Цандрипш