section.hotels_main
    div.container
        
        div.breadcrumbs
            a(href="index.html") Главная 
            span.divide - 
            a(href="index.html") Каталог 
            span.divide - 
            a(href="index.html") Отели 
            span.divide - 
            span Лучшие отели в Гагре

        h1 Лучшие отели в Гагре