include ../../common/pug/_mixins.pug

section.tourlist
    div.container
        +hotel_card('images/8.webp', 'Гостевой дом Villa Rosa (Абхазия)', '100 000 ₽')
        +hotel_card('images/8.webp', 'Гостевой дом Villa Rosa (Абхазия)', '100 000 ₽')
        +hotel_card('images/8.webp', 'Гостевой дом Villa Rosa (Абхазия)', '100 000 ₽')
        +hotel_card('images/8.webp', 'Гостевой дом Villa Rosa (Абхазия)', '100 000 ₽')
        +hotel_card('images/8.webp', 'Гостевой дом Villa Rosa (Абхазия)', '100 000 ₽')
        +hotel_card('images/8.webp', 'Гостевой дом Villa Rosa (Абхазия)', '100 000 ₽')
        +hotel_card('images/8.webp', 'Гостевой дом Villa Rosa (Абхазия)', '100 000 ₽')
        +hotel_card('images/8.webp', 'Гостевой дом Villa Rosa (Абхазия)', '100 000 ₽')
        +hotel_card('images/8.webp', 'Гостевой дом Villa Rosa (Абхазия)', '100 000 ₽')
        +hotel_card('images/8.webp', 'Гостевой дом Villa Rosa (Абхазия)', '100 000 ₽')
        +hotel_card('images/8.webp', 'Гостевой дом Villa Rosa (Абхазия)', '100 000 ₽')
        +hotel_card('images/8.webp', 'Гостевой дом Villa Rosa (Абхазия)', '100 000 ₽')