include ../../common/pug/_mixins.pug

section.main
    div.container
        
        div.breadcrumbs
            a(href="index.html") Главная 
            span.divide - 
            span Наши туры

        h1 Воспользуйтесь подбором и найдите ваш тур

        div.filter
            div.direction
                +select('directions', 'Направление', 'Городская прогулка', 'Исторический обзор', 'Культурное погружение', 'Архитектурный тур', 'Экскурсия на пляж', 'Ночная прогулка', 'Гастрономический тур', 'Природный заповедник', 'Музейный маршрут', 'Круиз по реке')
            div.first_date
                +datepicker('Дата от')
            div.last_date
                +datepicker('Дата до')
            div.transport
                span.note Транспорт
                +select('transport', '', 'Любой', 'Самолет', 'Поезд', 'Автобус')
            div.type
                span.note Тип
                +select('type', '', 'Любой', 'Краткосрочный', 'Среднесрочный', 'Долгосрочный')
            div.adult
                div.quantity
                    div.minus
                        include ../../../images/quantity_minus.svg
                    span.note Взрослых:
                    input(type="number", min="0", max="9", onchange="this.value > 0 ? this.parentNode.classList.add('show') : this.parentNode.classList.remove('show')")
                    div.plus
                        include ../../../images/quantity_plus.svg
            div.benefit
                div.quantity
                    div.minus
                        include ../../../images/quantity_minus.svg
                    span.note Льготных:
                    input(type="number", min="0", max="9", onchange="this.value > 0 ? this.parentNode.classList.add('show') : this.parentNode.classList.remove('show')")
                    div.plus
                        include ../../../images/quantity_plus.svg

            div.button
                button Найти тур

        div.dates
            div.swiper.month
                div.swiper-wrapper
                    div.swiper-slide Январь 2025
                    div.swiper-slide Февраль 2025
                    div.swiper-slide Март 2025
                    div.swiper-slide Апрель 2025
                    div.swiper-slide Май 2025
                    div.swiper-slide Июнь 2025
                    div.swiper-slide Июль 2025
                    div.swiper-slide Август 2025
                    div.swiper-slide Сентябрь 2025
                    div.swiper-slide Октябрь 2025
                    div.swiper-slide Ноябрь 2025
                    div.swiper-slide Декабрь 2025
            div.swiper.date
                div.swiper-wrapper
                    div.swiper-slide 01.10 сб
                    div.swiper-slide 02.10 вс
                    div.swiper-slide 03.10 пн
                    div.swiper-slide 04.10 вт
                    div.swiper-slide 05.10 ср
                    div.swiper-slide 06.10 чт
                    div.swiper-slide 07.10 пт
                    div.swiper-slide 08.10 сб
                    div.swiper-slide 09.10 вс
                    div.swiper-slide 10.10 вс
                    div.swiper-slide 11.10 сб
                    div.swiper-slide 12.10 вс
                    div.swiper-slide 13.10 пн
                    div.swiper-slide 14.10 вт
                    div.swiper-slide 15.10 ср
                    div.swiper-slide 16.10 чт
                    div.swiper-slide 17.10 пт
                    div.swiper-slide 18.10 сб
                    div.swiper-slide 19.10 вс
                    div.swiper-slide 20.10 пн
                    div.swiper-slide 21.10 вт
                    div.swiper-slide 22.10 ср
                    div.swiper-slide 23.10 чт
                    div.swiper-slide 24.10 пт
                    div.swiper-slide 25.10 сб
                    div.swiper-slide 26.10 вс
                    div.swiper-slide 27.10 пн
                    div.swiper-slide 28.10 вт
                    div.swiper-slide 29.10 ср
                    div.swiper-slide 30.10 чт
                    div.swiper-slide 31.10 пт
        