section.pagination
    margin-top: 42px
    margin-bottom: 70px
    +s(xl)
        margin-top: 32px
    +s(m)
        margin-top: 20px
        margin-bottom: 50px

    div.container
        display: grid
        align-items: center
        grid-template-columns: 1fr max-content
        +s(m)
            grid-template-columns: 1fr
            justify-content: center
        div.pages
            display: flex
            gap: 20px
            +s(xl)
                gap: 10px
            +s(m)
                justify-content: space-between
                margin-bottom: 37px
            a
                display: grid
                align-items: center
                justify-items: center
                border-radius: 6px
                width: 40px
                height: 40px
                font-weight: 400
                font-size: 16px
                line-height: 130%
                text-align: center
                color: #16192c
                +s(xl)
                    font-size: 14px
                &.active
                    background: #d819a3
                    color: white
                &:hover
                    background: #ffe2f7
            a.arrow
                border-radius: 6px
                width: 40px
                height: 40px
                background: #ffe2f7
                &:hover
                    background: #d819a3
                    svg
                        path
                            fill: white
        button
            position: absolute
            top: 50%
            left: 50%
            transform: translate(-50%, -50%)
            font-weight: 700
            font-size: 16px
            line-height: 130%
            text-align: center
            color: #d819a3
            border-radius: 8px
            width: 175px
            height: 44px
            background: #ffe2f7
            +s(l)
                position: static
                transform: unset
            +s(m)
                font-size: 14px

        div.count
            display: flex
            align-items: center
            gap: 18px
            +s(l)
                display: none
            span
                font-weight: 400
                font-size: 16px
                line-height: 130%
                color: #768195
            fieldset.select
                width: 55px
                div.select_choice
                    background: #ffe2f7
                    border-radius: 6px
                    border: unset
                    span
                        color: #d819a3
                        height: 44px
                        padding-right: unset
                        padding-left: 10px
                img.arrow
                    padding: unset
                    right: 10px
                    top: calc(50% - 4px)

    & + section.expert
        margin-top: 70px
        +s(m)
            margin-top: 50px
