include ../common/pug/_mixins.pug

section.expert
    div.container

        h2 #[b Наш эксперт подберет тур для вас!] #[br]Начните путешествовать вместе с нами

        form(action="index.html")
            +input('Имя', true)
            +input('Компания')
            //- +input('Телефон')
            fieldset.input
                input(type="tel", placeholder=" ", required=(required))
                span Телефон
            button Отправить заявку