footer
    div.container

        div.top

            a(href="index.html").logotype
                img(src="images/logotype.svg", alt="Чудесный отдых")

            menu.info
                strong Информация
                a(href="index.html") Наши туры
                a(href="index.html") Акции
                a(href="index.html") Об отправлениях
                a(href="index.html") Туристам
                a(href="index.html") Агентам
                a(href="index.html") О нас
                a(href="index.html") Блог
                a(href="index.html") Контакты

            menu.tourist
                strong Туристам
                a(href="index.html") Спосбы оплаты
                a(href="index.html") Дисконтная программа
                a(href="index.html") Подарочный сертификат
                a(href="index.html") Вопросы-ответы

            menu.agency
                strong Агенствам
                a(href="index.html") Как начать сотрудничество
                a(href="index.html") Как оплатить
                a(href="index.html") Документы для работы
                a(href="index.html") Ваша комиссия
                a(href="index.html") Туры на вашем сайте

            div.account
                a(href="account.html").agency
                    img(src="images/footer_arrow.svg", alt="Агентам")
                    span Агентам
                a(href="account.html").tourist
                    img(src="images/footer_account.svg", alt="Личный кабинет")
                    span Личный кабинет

            div.registry
                img(src="images/emblem.webp", alt="Герб")
                span Мы в реестре туроператоров #[br]ООО «Чудесный отдых» РТО 021180

        div.bottom
            span.copyright © 2026 Компания ООО «Чудесный отдых». Все права защищены и охраняются законом.
            div.docs
                a(href="index.html") Политика конфиденциальности
                a(href="index.html") Публичная оферта
            a(href="https://mwi.me", target="blank").studio
                span Сайт разработан
                img(src="images/mwi.svg", alt="MWI")