header
    font-family: "Montserrat", sans-serif
    height: 80px
    +s(xl)
        height: 70px
    +s(m)
        border-bottom: 1px solid #3068f721

    div.container
        display: grid
        grid-template-columns: repeat(2, max-content) 1fr repeat(3, max-content)
        align-items: center
        +s(m)
            grid-template-columns: max-content 1fr max-content max-content
            grid-gap: 7px

    img.mobile_menu
        display: none
        +s(m)
            display: block

    a.logotype
        display: grid
        align-items: center
        padding-right: 60px
        border-right: 1px solid #343a6021
        height: 100%
        +s(xl)
            padding-right: 40px
        +s(m)
            border: unset
            padding: 0 11px
        img
            width: 254px
            +s(xl)
                width: 205px
            +s(m)
                width: 140px

    a.mobile_phone
        display: none
        +s(m)
            display: block

    div.phone_tourist,
    div.phone_agency
        display: grid
        align-content: center
        grid-gap: 9px
        padding-left: 20px
        padding-right: 43px
        border-right: 1px solid #343a6021
        height: 100%
        width: max-content
        +s(xl)
            grid-gap: 0px
            padding-right: 20px
        +s(m)
            display: none

        a
            display: grid
            grid-auto-flow: column
            grid-auto-columns: max-content
            align-items: center
            grid-gap: 5px
            font-weight: 600
            font-size: 16px
            line-height: 130%
            color: #343a60
            +s(xl)
                font-size: 14px

        span
            font-weight: 400
            font-size: 14px
            line-height: 130%
            color: #343a60
            +s(xl)
                font-size: 12px

    div.search
        display: grid
        align-items: center
        justify-items: center
        height: 100%
        padding: 0 20px
        border-left: 1px solid #343a6021
        +s(m)
            display: none

    div.socials
        display: grid
        grid-auto-flow: column
        grid-auto-columns: max-content
        align-items: center
        grid-gap: 15px
        height: 100%
        padding: 0 20px
        border-left: 1px solid #343a6021
        +s(m)
            display: none

    a.mobile_account
        display: none
        +s(m)
            display: block

    a.account
        display: grid
        align-content: center
        grid-gap: 10px
        border-left: 1px solid #343a6021
        height: 100%
        padding-left: 20px
        +s(xl)
            grid-gap: 5px
        +s(m)
            display: none

        strong
            font-weight: 600
            font-size: 16px
            line-height: 112%
            text-transform: uppercase
            text-align: center
            color: #d819a3
            +s(xl)
                font-size: 14px
                line-height: 129%

        span
            font-weight: 400
            font-size: 14px
            line-height: 129%
            text-align: center
            color: #343a60
            +s(xl)
                font-size: 12px
                line-height: 150%

section.menu
    font-family: "Montserrat", sans-serif
    background: linear-gradient(38deg, #3068f7 30.24%, #487cff 83.35%)
    +s(m)
        display: none

    div.container
        display: grid
        grid-auto-flow: column
        grid-auto-columns: max-content
        justify-content: space-between
        font-weight: 600
        font-size: 16px
        line-height: 130%
        text-transform: uppercase
        color: #fff
        +s(xl)
            font-size: 14px

        a
            padding: 20px 0

        a.catalog
            position: relative
            display: grid
            grid-auto-flow: column
            grid-auto-columns: max-content
            align-items: center
            justify-content: center
            grid-gap: 8px
            padding: 20px
            width: 314px
            border-left: 1px solid #ffffff31
            border-right: 1px solid #ffffff31
            +s(xl)
                width: 246px
