section.additional
    div.container

        h2 Дополнительно

        div.list
            a(href="index.html").item
                span Рекламный тур
                include ../../../images/agency_download.svg
            a(href="index.html").item
                span Наши семинары
                include ../../../images/agency_download.svg