section.booking
    div.container

        div.title
            h2 Онлайн-бронирование
            span Теперь вы можете бронировать туры онлайн, это быстро и удобно

        div.list

            div.item
                img(src="images/agency_online_1.svg")
                span Зарегистрируйтесь на нашем сайте, нажав кнопку “Онлайн-бронирование”.
            div.item
                img(src="images/agency_online_2.svg")
                span После одобрения регистрации администратором, нажмите на кнопку “Регистрация в системе”.
            div.item
                img(src="images/agency_online_3.svg")
                span Укажите свои контактные данные и адрес
            div.item
                img(src="images/agency_online_4.svg")
                span Войдите в систему под своим логином и паролем, которые мы отправим вам на почту.
            div.item
                img(src="images/agency_online_5.svg")
                span Подбирайте и заказывайте туры через раздел “Заказать тур”