section.main
    div.container

        div.breadcrumbs
            a(href="index.html") Главная - 
            span Агентам

        h1 Сотрудничество с «Чудесным Отдыхом»: #[b Выгодные условия и надёжное партнёрство]

        div.advantages
            div.why
                h2 Почему с нами выгодно?
                img(src="images/24.webp", alt="Почему с нами выгодно?")
            div.white
                div.advantage
                    img(src="images/agency_icon_1.svg")
                    div.text
                        h5 Оперативные консультации
                        span Наши специалисты готовы ответить на все ваши вопросы о турах в будние дни с 10:00 до 19:00
                div.advantage
                    img(src="images/agency_icon_2.svg")
                    div.text
                        h5 Удобная онлайн-оплата
                        span Предлагаем несколько вариантов безопасной и быстрой оплаты: банковскими картами, через терминалы, наличными или со счета мобильного телефона. Все операции проводятся онлайн, что экономит ваше время.
            div.blue
                div.advantage
                    img(src="images/agency_icon_3.svg")
                    div.text
                        h5 Бесплатная доставка каталогов
                        span Мы с удовольствием доставим наш каталог прямо к вам в офис или отправим по указанному адресу. Просто отправьте нам заявку на chudo-tur@bk.ru с пометкой “Заказ каталога”.
                div.advantage
                    img(src="images/agency_icon_4.svg")
                    div.text
                        h5 Привилегии для партнеров
                        span Наши надежные партнеры получают возможность бесплатного участия в выставке МИТТ
                div.advantage
                    img(src="images/agency_icon_5.svg")
                    div.text
                        h5 Эксклюзивные турпрограммы
                        span Мы предлагаем уникальные и востребованные туристические программы, которые помогут вам привлекать больше клиентов.