section.payment
    div.container

        div.title
            h2 Варианты оплаты туров
            span Мы предлагаем гибкие и удобные способы оплаты

        div.list
            div.payment
                img(src="images/agency_payment_1.webp")
                h5 Наличный платеж
                div.detail
                    span в нашем офисе по адресу: ул. Советская, д. 12.
                    i Возможна комиссия
            div.payment
                img(src="images/agency_payment_2.webp")
                h5 Оплата картой
                div.detail
                    span Оплачивайте туры безналичным способом
                    i Без комиссии