section.start
    div.container

        div.title
            h3 Как начать сотрудничество с нами
            span Для начала работы, вам нужно всего несколько простых шагов:

        div.steps
            div.step
                h5 Заполните Агентский договор
                span.note Скачайте и заполните наш Агентский договор
                a(href="index.html").doc
                    span Агентский договор.pdf
                    img(src="images/agency_download.svg")
            div.step
                h5 Предоставьте нам договор

                div.list
                    div.item
                        span.blue По почте
                        span.note 603111, г. Нижний Новгород, ул. Школьная, д.26, кв.195.
                    div.item
                        span.blue В офисе
                        span.note ул. Советская, д.12 (Маринс Парк Отель 1 этаж, центральный вход)
                    div.item
                        span.blue Курьерская доставка
                        span.note Отправьте заявку на #[a(href="mailto: chudo-tur@bk.ru") chudo-tur@bk.ru], и мы сами приедем за договором.