include ../../common/pug/_mixins.pug

section.main
    div.container

        div.breadcrumbs
            a(href="index.html") Главная - 
            span Контакты

        h1 Контакты

        +map

        div.requisite
            h2 Реквизиты
            div.table
                strong Наименование юридического лица
                span ООО «Чудесный Отдых»
                strong ИНН
                span 5256094127
                strong ОГРН
                span 1105256001454
