include ../../common/pug/_mixins.pug

section.bonuses
    div.container

        +account_sidemenu('images/40.webp', 'ООО «Чудесный отдых»', '', '4', 'Данные агентства', 'Бронирования', 'Отчеты', 'Документы', 'Бонусная программа', 'Выйти')

        div.account_page
            h1 Бонусная программа

            div.graph
                div.status
                    span.level Начинающий
                    span.count 100 / 110
                div.details
                    div
                        span 10% комиссия
                        span.type Базовая
                    span.note Добавьте 10 заявок до 12.12.2025 или уровень будет понижен
                div.discount
                    div.percents
                        span 0%
                        span 10%
                        span 15%
                    div.track
                        div(style="width: 80%").thumb
                    span.note Осталось 10 заявок до нового уровня

            div.description
                h5 Описание бонусной программы
                span.blue Наша бонусная программа: ваши усилия — Наша благодарность!
                span Мы ценим ваше партнёрство и хотим сделать наше сотрудничество ещё более выгодным! Наша бонусная программа создана специально для того, чтобы поощрять вашу работу и мотивировать вас достигать новых высот. Здесь вы найдёте все подробности о том, как накапливать бонусы и использовать их для увеличения вашего дохода.

            div.advantages
                div.advantage
                    img(src="images/account_bonuses_icon_1.svg")
                    strong Бонус за бронирование
                    span За каждое успешное бронирование тура вы получаете 10% от стоимости тура в виде бонусных баллов.
                div.advantage
                    img(src="images/account_bonuses_icon_2.svg")
                    strong Бонус за раннее бронирование
                    span За бронирование туров за 30 дней до даты вылета начисляется дополнительный бонус в размере 2%.
                div.advantage
                    img(src="images/account_bonuses_icon_3.svg")
                    strong Бонус за привлечение новых клиентов
                    span Если ваш клиент бронирует тур впервые, вы получаете дополнительно 100 бонусных баллов.
                div.advantage
                    img(src="images/account_bonuses_icon_4.svg")
                    strong Бонус за выполнение плана
                    span При достижении месячного или квартального плана продаж, вы получаете дополнительный бонус в размере 100 бонусных баллов.
                div.advantage
                    img(src="images/account_bonuses_icon_5.svg")
                    strong Бонус за активное участие
                    span За активное участие в наших вебинарахи мероприятиях, вы получаете поощрительные бонусы в размере 100 баллов.
                div.advantage
                    img(src="images/account_bonuses_icon_6.svg")
                    strong Специальные акции
                    span Следите за специальными акциями, чтобы получить дополнительные бонусы за определённые направления или типы туров.

            div.how
                h5 Как использовать бонусы:
                ul
                    li Денежный эквивалент: Накопленные бонусные баллы можно конвертировать в денежный эквивалент по курсу [курс] и вывести на банковский счёт.
                    li Скидки на рекламу: Используйте ваши бонусные баллы для оплаты рекламных материалов на нашем сайте.
                    li Оплата обучения: Оплачивайте бонусными баллами обучение и вебинары, чтобы повысить свою квалификацию.
                    li Подарки и сувениры: Обменивайте бонусы на подарки от нашего туроператора.
                    li Дополнительные привилегии: Участники бонусной программы получают приоритетное обслуживание, персонального менеджера и доступ к эксклюзивным предложениям.

            div.levels
                h5 Уровни участников:
                div.list
                    div.level
                        span.note Уровень
                        strong Начинающий
                        p За активное участие в наших вебинарахи мероприятиях, вы получаете поощрительные бонусы в размере 100 баллов.
                    div.level
                        span.note Уровень
                        strong Профи
                        p За активное участие в наших вебинарахи мероприятиях, вы получаете поощрительные бонусы в размере 100 баллов.
                    div.level
                        span.note Уровень
                        strong Эксперт
                        p За активное участие в наших вебинарахи мероприятиях, вы получаете поощрительные бонусы в размере 100 баллов.
                i Примечание: Уровень участника влияет на размер бонусов и доступные привилегии

            div.conditions
                h5 Другие условия:
                ul
                    li Бонусные баллы начисляются после подтверждения бронирования и полной оплаты тура.
                    li Бонусные баллы имеют срок действия [срок].
                    li Мы оставляем за собой право менять условия бонусной программы, уведомляя вас заранее.
                    li Подробности по начислению и использованию бонусных баллов уточняйте у вашего персонального менеджера.