include ../../common/pug/_mixins.pug

section.documents
    div.container

        +account_sidemenu('images/40.webp', 'ООО «Чудесный отдых»', 'chudotur123@gmail.com', '3', 'Данные агентства', 'Бронирования', 'Отчеты', 'Документы', 'Бонусная программа', 'Выйти')

        div.account_page
            h1 Документы

            div.list
                a(href="index.html").item
                    span Памятка по автобусным турам
                    img(src="images/agency_download.svg")
                a(href="index.html").item
                    span Памятка туриста по автобусным турам в Грузию;
                    img(src="images/agency_download.svg")
                a(href="index.html").item
                    span Памятка туриста по автобусным турам в Краснодарский Край;
                    img(src="images/agency_download.svg")
                a(href="index.html").item
                    span Памятка туриста по автобусным турам в Казань;
                    img(src="images/agency_download.svg")
                a(href="index.html").item
                    span Памятка туриста по автобусным турам в Крым
                    img(src="images/agency_download.svg")
                a(href="index.html").item
                    span Памятка по автобусным турам в Абхазию
                    img(src="images/agency_download.svg")
                a(href="index.html").item
                    span Памятка по Ж/Д турам на Черное море
                    img(src="images/agency_download.svg")
                a(href="index.html").item
                    span Памятка туриста по автобусным тура в Москву в Матронушке;
                    img(src="images/agency_download.svg")

        