include ../../common/pug/_mixins.pug

mixin order(color)
    tr
        td(data-thead="Дата тура") 
            span 14.12.2024-22.12.2024 (8 дней / 7 ночей)
            i 21782-25122024
        td(data-thead="Направление") Новогодние каникулы в Санкт-Петербурге
        td(data-thead="ФИО туриста") Константинопольский Константин <br/>Константинович
        td(data-thead="Мененджер") Константин
        td(data-thead="Статус")
            if color == 'pink'
                span.pink Подверждено, ожидает оплаты
            if color == 'green'
                span.green Подверждено, оплачено
            if color == 'violet'
                span.violet Не подтверждено
            if color == 'blue'
                span.blue Ожидает обработки
            if color == 'black'
                span.black Завершено
        td(data-thead="Комиссия") 1 000 ₽
        td
            div.buttons.column
                a(href="index.html").more Подробнее
                if color == 'pink'
                    button.pay Оплатить 100 000 000 ₽
                else if color == 'green' || color == 'black'
                    span.price 100 000 000 ₽
                else
                    div.empty
                button.cancel Аннулировать заказ

section.orders
    div.container

        +account_sidemenu('images/40.webp', 'ООО «Чудесный отдых»', 'chudotur123@gmail.com', '3', 'Данные агентства', 'Бронирования', 'Отчеты', 'Документы', 'Бонусная программа', 'Выйти')

        div.account_page
            h1 Бронирования

            div.filter
                div.tags
                    span.tag.active Все (100)
                    span.tag Текущие (100)
                    span.tag Прошедшие (100)
                +select('account_tour', 'Сортировка', 'Все', 'Не подтверждено', 'Ожидает обработки', 'Подтверждено, частично оплачено', 'Подтверждено, не оплачено', 'Подтверждено, оплачено', 'Завершено, не оплачено', 'Завершено')

            table
                thead
                    tr
                        th Дата тура
                        th Направление
                        th ФИО туриста
                        th Мененджер
                        th Статус
                        th Комиссия
                        th Оплата
                tbody
                    +order('pink')
                    +order('green')
                    +order('violet')
                    +order('blue')
                    +order('black')
                    +order('pink')
                    +order('green')
                    +order('violet')

            include _pagination.pug