
section.orders
    margin-top: 30px
    margin-bottom: 68px
    +s(l)
        margin-bottom: 50px

    div.container
        display: grid
        align-items: start
        grid-template-columns: max-content 1fr
        grid-gap: 50px
        +s(l)
            display: block

        div.account_page
            width: 100%
            h1
                margin-bottom: 24px
                +s(l)
                    margin-bottom: 16px

            div.filter
                display: grid
                align-items: center
                grid-template-columns: 1fr max-content
                padding-bottom: 10px
                +s(m)
                    grid-template-columns: 1fr
                    grid-gap: 20px

                div.tags
                    display: flex
                    gap: 10px
                    overflow-x: auto
                    +s(m)
                        margin-left: calc(var(--side-gap) * -1)
                        margin-right: calc(var(--side-gap) * -1)
                        padding-left: var(--side-gap)
                        padding-right: var(--side-gap)

                    &::-webkit-scrollbar
                        display: none
                        opacity: 0

                    span.tag
                        display: grid
                        align-items: center
                        border-radius: 10px
                        height: 48px
                        padding-left: 12px
                        padding-right: 12px
                        font-weight: 400
                        font-size: 16px
                        line-height: 130%
                        color: #3068f7
                        background: #f2f5ff
                        width: max-content
                        cursor: pointer
                        white-space: nowrap
                        +s(l)
                            font-size: 14px
                            height: 40px
                            padding-left: 16px
                            padding-right: 16px

                        &.active
                            background: #3068f7
                            color: white

                fieldset.select
                    margin-left: auto
                    +s(m)
                        margin-left: unset

            table
                width: 100%
                border-collapse: separate
                border-spacing: 0 20px
                thead
                    text-align-last: left
                    color: #acacac
                    +s(m)
                        display: none
                    th
                        // padding-left: 30px
                        font-weight: 400
                        text-align: left
                        &:first-child
                            padding-left: 30px
                            +s(xl)
                                padding-left: 20px
                tbody
                    +s(m)
                        display: grid
                        grid-gap: 20px
                    tr
                        position: relative
                        td
                            padding: 30px
                            padding-left: unset
                            border-top: 1px solid rgba(48, 104, 247, 0.2)
                            border-bottom: 1px solid rgba(48, 104, 247, 0.2)
                            +s(xl)
                                padding: 20px
                                &:not(:last-child)
                                    padding-right: unset
                            +s(m)
                                border: unset !important
                                padding: unset
                                &[data-thead]::before
                                    display: block
                                    content: attr(data-thead)
                                    color: #acacac
                                    margin-bottom: 4px
                        td:first-child
                            border: 1px solid rgba(48, 104, 247, 0.2)
                            border-right: unset
                            border-top-left-radius: 10px
                            border-bottom-left-radius: 10px
                            padding-left: 30px
                            +s(xl)
                                padding-left: 20px
                            +s(m)
                                padding: unset
                        td:last-child
                            border: 1px solid rgba(48, 104, 247, 0.2)
                            border-left: unset
                            border-top-right-radius: 10px
                            border-bottom-right-radius: 10px
                        +s(m)
                            display: grid
                            grid-gap: 15px
                            border: 1px solid rgba(48, 104, 247, 0.2)
                            border-radius: 10px
                            padding: 15px

                i
                    display: block
                    font-size: 12px
                    color: #acacac
                    margin-top: 5px

                span.pink
                    color: #D819A3
                span.green
                    color: #09B200
                span.violet
                    color: #6727C4
                span.blue
                    color: #3068F7

                span.whitespace
                    display: block
                    white-space: nowrap

                div.buttons
                    display: grid
                    align-items: center
                    grid-template-columns: repeat(2, 1fr)
                    grid-gap: 10px
                    height: 100%
                    +s(xl)
                        grid-template-columns: 1fr
                    +s(m)
                        display: flex
                        flex-wrap: wrap
                        gap: 10px
                    span.price
                        font-size: 16px
                        margin-bottom: 10px
                    button.pay
                        background: #3068f7
                        min-width: unset
                        +s(m)
                            flex-grow: 1
                            order: 3
                    button.cancel
                        background: rgba(216, 25, 73, 0.1)
                        color: #d81949ad
                        min-width: unset
                        justify-self: end
                        +s(m)
                            flex-grow: 1
                            order: 4
                    a.more
                        position: absolute
                        top: 0
                        left: 0
                        width: 100%
                        height: 100%
                        border: 1px solid transparent
                        border-radius: 6px
                        color: transparent
                        +s(m)
                            position: static
                            display: grid
                            align-items: center
                            justify-items: center
                            width: max-content
                            border: 1px solid #3068f7
                            height: var(--form-element-height)
                            padding: var(--form-element-padding)
                            border-radius: 10px
                            font-weight: 700
                            font-size: 14px
                            color: #3068f7
                            width: 100%
                            order: 2

                        &:hover
                            border: 1px solid #3068f7

                    &.column
                        grid-template-columns: 1fr

                div.empty
                    +s(m)
                        display: none
