include ../../common/pug/_mixins.pug

section.order_details
    div.container

        +account_sidemenu('images/40.webp', 'ООО «Чудесный отдых»', 'chudotur123@gmail.com', '3', 'Данные агентства', 'Бронирования', 'Отчеты', 'Документы', 'Бонусная программа', 'Выйти')

        div.account_page

            div.title
                h1 Заказ № 23379-10042025 от 23.09.2024 16:55
                div.tag.green Подтвержден, оплачен

            div.detail

                div.excursion_card
                    div.preview
                        img(src="images/1.webp", alt="Майские праздники в Москве").preview
                        span.season Весна, Лето

                    div.description
                        div.text
                            a(href="index.html").title
                                h5 Майские праздники в Москве
                            span.city #[a(href="index.html") из Н.Новгорода, ]автобус, 8-9 часов
                            span.text Легкая автобусная обзорная экскурсия "Здравствуй, Столица", во время которого мы посетим Красную площадь...
                            div.type
                                img(src="images/card_train.svg", alt="Автобус")
                                span Автобусный тур
                            
                        div.details
                            div.difficulty
                                span.note Сложность
                                div.stars
                                    div.filled
                                    div.filled
                                    div.empty
                                    div.empty
                                    div.empty
                            div.tags
                                span.note Проживание и комфорт
                                div.list
                                    span Простой
                                    span Завтрак
                            button Подробнее о туре

                div.data

                    div.column

                        div.tour_data
                            div.tour
                                h5 Ответственный менеджер
                                div.tbody
                                    div.tr
                                        span Имя
                                        span Константин
                                    div.tr
                                        span Фамилия
                                        span Константинопольский
                                    div.tr
                                        span Телефон
                                        span +7 (987) 000-00-00
                                    div.tr
                                        span Email
                                        span chudotur123@gmail.com

                        div.tour_data

                            div.date
                                h5 Дата тура
                                div.tr
                                    span 06.12.2024
                                    span 13.12.2024

                            div.tour
                                h5 Информация о туре
                                div.tbody
                                    div.tr
                                        span Продолжительность
                                        span 9-10 часов
                                    div.tr
                                        span Тип экскурсии
                                        span Автобусная
                                    div.tr
                                        span Время отправления
                                        span 10:00
                                    div.tr
                                        span Место сбора группы
                                        span Отправление Н. Новгород пл. Ленина. Трансфер в Копорье
                                            a(href="index.html").red Смотреть на карте
                                    div.tr
                                        span Способ оплаты
                                        span Оплата наличными в офисе

                            div.personal
                                h5 Личные данные
                                strong Турист 1
                                div.tbody
                                    div.tr
                                        span Имя
                                        span Константин
                                    div.tr
                                        span Фамилия
                                        span Константинопольский
                                    div.tr
                                        span Дата рождения
                                        span 23.12.1998
                                    div.tr
                                        span Пол
                                        span Мужской
                                    div.tr
                                        span Телефон
                                        span +7 (900) 677-87-87
                                    div.tr
                                        span Email
                                        span info123@gmail.com
                                    div.tr
                                        span Вид документа
                                        span Паспорт
                                    div.tr
                                        span Серия и номер
                                        span 2345 234567
                                    div.tr
                                        span Гражданство
                                        span РФ
                                    div.tr
                                        span Категория
                                        span Взрослый
                                strong Турист 2
                                div.tbody
                                    div.tr
                                        span Имя
                                        span Инна
                                    div.tr
                                        span Фамилия
                                        span Константинопольская
                                    div.tr
                                        span Дата рождения
                                        span 23.12.1998
                                    div.tr
                                        span Пол
                                        span Мужской
                                    div.tr
                                        span Телефон
                                        span +7 (900) 677-87-87
                                    div.tr
                                        span Email
                                        span info123@gmail.com
                                    div.tr
                                        span Вид документа
                                        span Паспорт
                                    div.tr
                                        span Серия и номер
                                        span 2345 234567
                                    div.tr
                                        span Гражданство
                                        span РФ
                                    div.tr
                                        span Категория
                                        span Взрослый

                        button.more Смотреть еще

                    div.column

                        div.documents_data
                            h5 Документация
                            div.list
                                a(href="index.html") Подтверждение
                                a(href="index.html") Посадочный талон
                                a(href="index.html") Договор с туристом

                        div.transport
                            h5 Транспорт
                            div.scheme
                                span Туда #[b 2 пассажира]
                                a(href="index.html") Схема автобуса
                            div.route
                                span.note Маршрут
                                span Казань-Нижний Новгород
                            div.dates
                                div.from
                                    span.note Отправление
                                    span 08.12.2024, пт, 06:00
                                div.to
                                    span.note Прибытие
                                    span 08.12.2024, пт, 06:00
                            div.places
                                span.note Места
                                span.blue 9, 10

                        div.transport
                            h5 Транспорт
                            div.scheme
                                span Обратно #[b 2 пассажира]
                                a(href="index.html") Схема автобуса
                            div.route
                                span.note Маршрут
                                span Казань-Нижний Новгород
                            div.dates
                                div.from
                                    span.note Отправление
                                    span 08.12.2024, пт, 06:00
                                div.to
                                    span.note Прибытие
                                    span 08.12.2024, пт, 06:00
                            div.places
                                span.note Места
                                span.blue 9, 10

                h5 Проживание

                +habitation_card

                div.results
                    h5 Итого
                    div.tbody
                        div.tr
                            span Стоимость
                            span 100 000 ₽
                        div.tr
                            span Налоги и сборы
                            span 10 000 ₽
                        div.tr
                            span Всего к оплате
                            span -3 000 ₽
                        div.tr
                            span Оплачено
                            span 107 000 ₽
                        div.tr
                            span Дополнительные услуги
                            span 107 000 ₽
                            div.subtr
                                div.tr
                                    span Питание
                                    span 13 000 ₽
                                div.tr
                                    span Экскурсии
                                    span 13 000 ₽
                        div.tr
                            span Комиссия
                                div.tooltip
                                    img(src="images/order_question.svg")
                                    div.tooltip_text Мы предоставляем скидку для наших агентов, позволяя вам продавать туры по розничной цене, а самим покупать их со значительной экономией. Эти сэкономленные средства – ваш дополнительный доход.
                            span -3 000 ₽
                    div.total
                        div
                            h5 Итого
                            h5 107 000 ₽
                        div
                            span за 7 дней, 6 ночей
                            span за 1 человек

                button.cancel Аннулировать заказ

            