include ../../common/pug/_mixins.pug

section.reports
    div.container

        +account_sidemenu('images/40.webp', 'ООО «Чудесный отдых»', 'chudotur123@gmail.com', '2', 'Данные агентства', 'Бронирования', 'Отчеты', 'Документы', 'Бонусная программа', 'Выйти')

        div.account_page
            h1 Отчеты

            div.tags
                a(href="index.html").active 2022
                a(href="index.html") 2023
                a(href="index.html") 2024

            div.group
                h5 Ноябрь 2022
                div.list
                    a(href="index.html").item
                        span Отчет агента ООО “Чудесный отдых”.pdf
                        img(src="images/agency_download.svg")
                    a(href="index.html").item
                        span Отчет агента ООО “Чудесный отдых”.pdf
                        img(src="images/agency_download.svg")
                    a(href="index.html").item
                        span Отчет агента ООО “Чудесный отдых”.pdf
                        img(src="images/agency_download.svg")

            div.group
                h5 Декабрь 2022
                div.list
                    a(href="index.html").item
                        span Отчет агента ООО “Чудесный отдых”.pdf
                        img(src="images/agency_download.svg")
                    a(href="index.html").item
                        span Отчет агента ООО “Чудесный отдых”.pdf
                        img(src="images/agency_download.svg")
                    a(href="index.html").item
                        span Отчет агента ООО “Чудесный отдых”.pdf
                        img(src="images/agency_download.svg")

            