section.advantages
    div.container

        div.description
            span.note МЫ УНИКАЛЬНЫ
            h2 «Чудесный Отдых»: #[b ваш надёжный туроператор]
            p Мы успешно работаем на рынке туристических услуг, предлагая клиентам высокий уровень сервиса и гибкие цены. Мы понимаем, что туризм объединяет культуры, и стремимся сделать отдых наших клиентов не только приятным, но и познавательным. Мы учитываем индивидуальные предпочтения и стараемся предложить лучшие варианты отдыха.
            button.hollow Узнать нас поближе

    div.list
        div.item
            img(src="images/index_advantage_1.svg", alt="Уникальная система бронирования")
            span Уникальная система #[br]бронирования
        div.item
            img(src="images/index_advantage_2.svg", alt="Туры продуманы до мелочей")
            span Туры продуманы #[br]до мелочей
        div.item
            img(src="images/index_advantage_3.svg", alt="Бонусная система")
            span Бонусная #[br]система
        div.item
            img(src="images/index_advantage_4.svg", alt="Все формы оплаты")
            span Все формы #[br]оплаты