include ../../common/pug/_mixins.pug

section.hot
    div.container

        div.description
            h3 Смена обстановки на выходных? Легко!
            span Устали от рутины? Мы подберем идеальный тур: удобный вылет и минимум времени в пути. Ваша перезагрузка начинается сейчас!
            button Оставить заявку

        div.swiper.hot
            div.swiper-wrapper
                div.swiper-slide
                    +hot_tour_card('images/2.webp', 'от 19 741 ₽', 'Элиста + Волгоград', '4 окт, сб — 5 окт, вс')
                div.swiper-slide
                    +hot_tour_card('images/2.webp', 'от 19 741 ₽', 'Элиста + Волгоград', '4 окт, сб — 5 окт, вс')
                div.swiper-slide
                    +hot_tour_card('images/2.webp', 'от 19 741 ₽', 'Элиста + Волгоград', '4 окт, сб — 5 окт, вс')
                div.swiper-slide
                    +hot_tour_card('images/2.webp', 'от 19 741 ₽', 'Элиста + Волгоград', '4 окт, сб — 5 окт, вс')
                div.swiper-slide
                    +hot_tour_card('images/2.webp', 'от 19 741 ₽', 'Элиста + Волгоград', '4 окт, сб — 5 окт, вс')
                div.swiper-slide
                    +hot_tour_card('images/2.webp', 'от 19 741 ₽', 'Элиста + Волгоград', '4 окт, сб — 5 окт, вс')
                div.swiper-slide
                    +hot_tour_card('images/2.webp', 'от 19 741 ₽', 'Элиста + Волгоград', '4 окт, сб — 5 окт, вс')
                div.swiper-slide
                    +hot_tour_card('images/2.webp', 'от 19 741 ₽', 'Элиста + Волгоград', '4 окт, сб — 5 окт, вс')
                div.swiper-slide
                    +hot_tour_card('images/2.webp', 'от 19 741 ₽', 'Элиста + Волгоград', '4 окт, сб — 5 окт, вс')
                div.swiper-slide
                    +hot_tour_card('images/2.webp', 'от 19 741 ₽', 'Элиста + Волгоград', '4 окт, сб — 5 окт, вс')
                div.swiper-slide
                    +hot_tour_card('images/2.webp', 'от 19 741 ₽', 'Элиста + Волгоград', '4 окт, сб — 5 окт, вс')
                div.swiper-slide
                    +hot_tour_card('images/2.webp', 'от 19 741 ₽', 'Элиста + Волгоград', '4 окт, сб — 5 окт, вс')

        button.mobile Оставить заявку
