section.notes
    div.container

        a(href="index.html").tourist
            div.text
                h3 Памятка для Туристов
                span Вся необходимая информация для туристов
            div.arrow
                include ../../../images/note_arrow.svg


        a(href="index.html").agency
            div.text
                h3 Информация для Агентств
                span Вся необходимая информация для агентств
            div.arrow
                include ../../../images/note_arrow.svg
