section.partners
    margin-top: 68px
    margin-bottom: 68px
    +s(m)
        margin-top: 50px
        margin-bottom: 50px

    h2
        margin-bottom: 35px
        +s(xl)
            margin-bottom: 25px
            +s(m)
                margin-bottom: 20px

    div.swiper
        +s(s)
            overflow: visible

    div.swiper-slide
        img
            width: 100%
            aspect-ratio: 9 / 4
            object-fit: cover
            object-position: center center
            border: 1px solid #3068f757
            border-radius: 14px
