section.partners
    div.container

        h2 Партнёры

        div.swiper.partners
            div.swiper-wrapper
                div.swiper-slide: img(src="images/partners/1.webp")
                div.swiper-slide: img(src="images/partners/2.webp")
                div.swiper-slide: img(src="images/partners/3.webp")
                div.swiper-slide: img(src="images/partners/4.webp")
                div.swiper-slide: img(src="images/partners/5.webp")
                div.swiper-slide: img(src="images/partners/1.webp")
                div.swiper-slide: img(src="images/partners/2.webp")
                div.swiper-slide: img(src="images/partners/3.webp")
                div.swiper-slide: img(src="images/partners/4.webp")
                div.swiper-slide: img(src="images/partners/5.webp")
                div.swiper-slide: img(src="images/partners/1.webp")
                div.swiper-slide: img(src="images/partners/2.webp")
                div.swiper-slide: img(src="images/partners/3.webp")
                div.swiper-slide: img(src="images/partners/4.webp")
                div.swiper-slide: img(src="images/partners/5.webp")
            