section.promotional
    div.container

        div.text
            h3 Рекламные туры по всему миру
            span Путь к вашему успеху. Организуем рекламные туры для партнеров и клиентов.
            button Оставить заявку

        div.preview
            img(src="images/promotional_tours_desktop.webp").desktop
            img(src="images/promotional_tours_mobile.webp").mobile