include ../../common/pug/_mixins.pug

section.categories
    div.container

        div.breadcrumbs
            a(href="index.html") Главная - 
            span Каталог

        div.list
            +catalog_card('images/14.webp', 'Популярные направления')
            +catalog_card('images/10.webp', 'Автобусные туры 2025')
            +catalog_card('images/11.webp', 'Авиа туры')
            +catalog_card('images/12.webp', 'Авиабилеты')
            +catalog_card('images/13.webp', 'Экскурсии')
            +catalog_card('images/8.webp', 'Однодневные туры')
            +catalog_card('images/15.webp', 'Отели')
            +catalog_card('images/14.webp', 'Популярные направления')
            +catalog_card('images/10.webp', 'Автобусные туры 2025')
            +catalog_card('images/11.webp', 'Авиа туры')
            +catalog_card('images/12.webp', 'Авиабилеты')

