include ../../common/pug/_mixins.pug

section.order_hotel
    div.container

        div.title
            h1 Бронирование отеля
            h3 Заказ № 23379-10042025

        div.data

            div.room_card
                div.swiper
                    div.swiper-wrapper
                        div.swiper-slide: img(src="images/1.webp")
                        div.swiper-slide: img(src="images/1.webp")
                        div.swiper-slide: img(src="images/1.webp")
                        div.swiper-slide: img(src="images/1.webp")
                        div.swiper-slide: img(src="images/1.webp")
                    div.swiper-pagination
                div.description
                    div.title
                        span.count 1 человек
                        h5 2-х местный Эконом
                        span.area Площадь 22 м2
                    div.advantages
                        div.advantage
                            img(src="images/room_card_icon_1.svg", alt="WiFi в номерах")
                            span WiFi в номерах
                        div.advantage
                            img(src="images/room_card_icon_2.svg", alt="Собственная ванная")
                            span Собственная ванная
                        div.advantage
                            img(src="images/room_card_icon_3.svg", alt="Кондиционер")
                            span Кондиционер
                        div.advantage
                            img(src="images/room_card_icon_4.svg", alt="Мини-бар")
                            span Мини-бар
                div.order
                    div.wrap
                        div.tags
                            div.tag
                                img(src="images/detail_card_icon_1.svg", alt="")
                                span Завтраки включены
                            div.tag
                                img(src="images/detail_card_icon_2.svg", alt="")
                                span Бесплатная отмена
                    a(href="index.html").button Описание номера

            div.personal_data
                h2 Личные данные туриста
                div.inputs
                    div.tr
                        +input('Имя', true)
                        +input('Фамилия', true)
                    div.tr
                        +datepicker('Дата рождения')
                        +select('gender', 'Пол', 'Мужской', 'Женский')
                    div.tr
                        +input('Телефон', true)
                        +input('Email', true)
                    div.tr
                        +select('category', 'Категория', 'Категория 1', 'Категория 2', 'Категория 3')
                        +select('place_transport', 'Место в транспорте', 'Переднее', 'В середине', 'Заднее')
                    div.tr
                        +select('document_type', 'Вид документа', 'Паспорт', 'Загран паспорт')
                        +input('Серия и номер', true)
                        +select('nationality', 'Гражданство', 'Россия', 'Беларусь', 'Казахстан', 'Армения', 'Грузия')
                    textarea(name="", placeholder="Примечание турагенства")
                    +checkbox('save_data', 'Сохранить данные для следующих бронирований')
                button
                    img(src="images/order_button_plus.svg")
                    span Добавить ещё туриста

            div.manager_data
                h2 Ответственный менеджер
                div.inputs
                    div.tr
                        +input('Имя', true)
                        +input('Фамилия', true)
                    div.tr
                        +input('Телефон', true)
                        +input('Email', true)

            div.additional_data
                h2 Дополнительные услуги
                div.list
                    div.item
                        strong Добавьте питание
                        div.tr
                            div.radio
                                div.title
                                    +radio('food', 'Без питания', true)
                                div.price
                                    span 0 ₽
                            div.radio
                                div.title
                                    +radio('food', 'Завтрак')
                                    span.note Завтрак шведский стол
                                div.price
                                    span + 5 000 ₽
                    div.item
                        strong Бронирование
                        div.tr
                            div.radio
                                div.title
                                    +radio('cancel', 'Бесплатная отмена', true)
                                    span.note до 13:30 31.03.2025
                                div.price
                                    span 0 ₽
                            div
                    div.item
                        strong Варианты размещения
                        div.tr
                            div.radio
                                div.title
                                    +radio('variant', '1 двуспальная кровать', true)
                                div.price
                                    span 0 ₽
                            div

            div.payment_data
                h2 Форма оплаты
                div.item
                    div.tr
                        div.radio
                            div.title
                                +radio('payment', 'Наличными', true)
                        div.radio
                            div.title
                                +radio('payment', 'СБП')
                                img(src="images/sbp.svg")
                        div.radio
                            div.title
                                +radio('payment', 'Онлайн VISA, MasterCard, Maestro, Мир')
                                img(src="images/cards.svg")
        
        div.total
            div.total_price
                div.list
                    div.tr
                        span Стоимость номера
                        span 100 000 ₽
                    div.tr
                        span Стоимость доп. услуг
                        span 10 000 ₽
                    div.tr
                        span Скидка
                        span -3 000 ₽
                    div.tr
                        div.question
                            span Комиссия
                            div.tooltip
                                img(src="images/order_question.svg")
                                div.tooltip_text Мы предоставляем скидку для наших агентов, позволяя вам продавать туры по розничной цене, а самим покупать их со значительной экономией. Эти сэкономленные средства – ваш дополнительный доход.
                        span -3 000 ₽
                div.tr.total
                    div
                        span ИТОГО
                        i за 8 дней, 7 ночей
                    div
                        span 203 000 000 ₽
                        i за 1 человек
                span.policy Даю #[a Согласие на обработку персональных данных] в соответствии с #[a Политикой в отношении обработки персональных данных], а также принимаете условия #[a Пользовательского соглашения].
                button Забронировать
