section.order_hotel
    background: #F3F5F8

    div.container
        display: grid
        grid-template-columns: 1fr 582px
        grid-gap: 20px
        margin-top: 48px
        margin-bottom: 68px
        +s(xl)
            grid-template-columns: 1fr 420px
        +s(l)
            grid-template-columns: 1fr 320px
        +s(m)
            grid-template-columns: 1fr
            margin-top: 20px
            margin-bottom: unset

        div.title
            display: grid
            grid-column: 2 span
            grid-gap: 30px
            +s(l)
                grid-gap: 20px
            +s(m)
                grid-column: 1 span

        div.data
            display: grid
            grid-gap: 20px

            div.room_card
                display: grid
                align-content: start
                grid-template-columns: 280px 1fr 240px
                border: 1px solid rgba(48, 104, 247, 0.2)
                border-radius: 20px
                overflow: hidden
                background: white
                max-width: 1048px
                +s(xl)
                    grid-template-columns: 200px 1fr 200px
                +s(l)
                    grid-template-columns: 1fr

                div.swiper
                    width: 100%
                    aspect-ratio: 1 / 1
                    min-width: 0
                    border-radius: 20px
                    +s(l)
                        height: 182px

                    img
                        position: absolute
                        top: 0
                        left: 0
                        width: 100%
                        height: 100%
                        object-fit: cover
                        object-position: center center
                    &::after
                        content: ''
                        display: block
                        position: absolute
                        left: 0
                        top: 0
                        width: 100%
                        height: 100%
                        background: linear-gradient(180deg, rgba(0, 0, 0, 0) 75.5%, rgba(0, 0, 0, 0.3) 79.71%, rgba(0, 0, 0, 0.7) 93.87%), linear-gradient(180deg, rgba(0, 0, 0, 0.16) 0%, rgba(0, 0, 0, 0) 22.47%)

                    div.swiper-pagination
                        position: absolute
                        bottom: 20px
                        left: 50%
                        transform: translateX(-50%)
                        display: flex
                        gap: 2px
                        z-index: 2
                        +s(xl)
                            bottom: 15px
                        span
                            display: block
                            border-radius: 6px
                            width: 5px
                            height: 2px
                            transition: width 0.3s
                            background: white
                            &.swiper-pagination-bullet-active
                                width: 23px

                div.description
                    display: grid
                    grid-template-rows: max-content 1fr max-content
                    align-content: start
                    justify-items: start
                    padding: 16px 20px
                    padding-bottom: unset
                    +s(l)
                        padding: 15px
                        padding-bottom: unset

                    div.card_title
                        margin-bottom: 20px
                        span.count
                            border-radius: 3px
                            padding: 0 10px
                            background: rgba(14, 171, 105, 0.1)
                            font-weight: 500
                            font-size: 12px
                            line-height: 236%
                            color: #0eab69
                            margin-bottom: 5px
                        h5
                            text-transform: unset
                            margin-bottom: 5px
                            color: #3068F7
                        span.area
                            font-weight: 400
                            font-size: 12px
                            line-height: 130%
                            color: #acacac
                            margin-bottom: 24px

                    div.advantages
                        display: grid
                        align-content: start
                        grid-template-columns: repeat(2, 1fr)
                        grid-gap: 5px
                        margin-bottom: 30px
                        div.advantage
                            display: flex
                            gap: 5px
                            img
                                width: 16px
                                height: 16px
                            span
                                font-size: 12px
                                flex-grow: 1

                    div.link
                        padding: 15px 20px
                        cursor: pointer
                        font-weight: 700
                        text-decoration: underline
                        text-decoration-skip-ink: none
                        color: #16192c
                        opacity: 0.67
                        border-top: 1px solid rgba(48, 104, 247, 0.2)
                        width: calc(100% + 40px)
                        margin-left: -20px
                        +s(l)
                            padding: 10px 20px
                        &:hover
                            opacity: 1

                div.order
                    display: grid
                    grid-template-rows: 1fr max-content
                    border-left: 1px solid rgba(75, 105, 221, 0.2)
                    +s(l)
                        border-left: unset
                        border-top: 1px solid rgba(75, 105, 221, 0.2)

                    div.wrap
                        padding: 20px
                        +s(xl)
                            padding: 12px 10px
                        +s(l)
                            padding: 15px
                    span.price
                        display: block
                        font-weight: 600
                        font-size: 32px
                        line-height: 106%
                        color: #d819a3
                        margin-bottom: 10px
                        +s(xl)
                            font-size: 20px
                    div.period
                        display: flex
                        flex-wrap: wrap
                        gap: 15px
                        margin-bottom: 15px
                        +s(m)
                            margin-bottom: 10px
                        div.days,
                        div.nights
                            display: flex
                            gap: 5px
                            span
                                font-weight: 400
                                font-size: 14px
                                line-height: 150%
                                color: #343a60
                                +s(xl)
                                    font-size: 12px
                    div.dates
                        display: flex
                        align-items: center
                        gap: 5px
                        margin-bottom: 14px
                        span
                            font-weight: 400
                            font-size: 12px
                            line-height: 130%
                            color: #16192c
                            opacity: 0.5
                        hr
                            display: block
                            height: 1px
                            width: 28px
                            background: #3068f7
                    div.tags
                        display: grid
                        align-content: start
                        grid-gap: 3px
                        div.tag
                            display: flex
                            align-items: center
                            gap: 10px
                            img
                                height: 27px
                                width: 27px
                            span
                                font-weight: 400
                                font-size: 12px
                                line-height: 130%
                                color: #343a60
                    a.button
                        border-radius: 0 0 20px 0
                        width: 100%
                        height: 50px
                        font-weight: 700
                        font-size: 16px
                        line-height: 130%
                        color: #fff
                        background: #3068f7
                        padding: unset
                        min-width: unset
                        +s(xl)
                            font-size: 14px

            div.personal_data,
            div.manager_data,
            div.additional_data,
            div.payment_data
                display: grid
                grid-gap: 25px
                padding: 30px
                padding-top: 35px
                background: white
                border-radius: 20px
                max-width: 1048px
                +s(l)
                    grid-gap: 15px
                    padding: 20px

                h2
                    font-weight: 600
                    font-size: 20px
                    line-height: 130%
                    text-transform: uppercase
                    color: #16192c
                    +s(l)
                        font-size: 16px

                div.inputs
                    display: grid
                    grid-gap: 15px
                    +s(l)
                        grid-gap: 10px

                div.tr
                    display: grid
                    grid-auto-flow: column
                    grid-auto-columns: 1fr
                    grid-gap: 15px
                    +s(l)
                        grid-gap: 10px
                    +s(s)
                        grid-auto-flow: unset

            div.personal_data
                label.checkbox
                    margin-top: 5px
                button
                    display: grid
                    grid-template-columns: repeat(2, max-content)
                    grid-gap: 15px
                    border-radius: 10px
                    height: 60px
                    background: #f2f5ff
                    color: #3068f7c5
                    padding-left: 42px
                    padding-right: 42px
                    justify-self: start
                    margin-top: 5px
                    border: 1px solid transparent
                    +s(l)
                        padding-left: 20px
                        padding-right: 20px
                    &:hover
                        border: 1px solid #3068f7
                        color: #3068f7

            div.additional_data,
            div.payment_data
                strong
                    display: block
                    font-weight: 500
                    line-height: 130%
                    text-transform: uppercase
                    color: #16192c
                    margin-bottom: 16px
                    +s(l)
                        margin-bottom: 10px

                div.list
                    display: grid
                    grid-gap: 30px

            div.payment_data
                div.tr
                    grid-auto-flow: unset
                    grid-template-columns: repeat(2, 1fr)
                    +s(s)
                        grid-template-columns: 1fr

        div.total
            display: grid
            align-content: start
            grid-gap: 20px

            div.total_data,
            div.total_tour,
            div.total_price
                display: grid
                background: white
                padding: 20px
                border-radius: 20px

            strong
                font-weight: 600
                font-size: 16px
                line-height: 130%
                text-transform: uppercase
                color: #333
                display: block
                margin-bottom: 18px
                +s(l)
                    font-size: 14px
                    margin-bottom: 10px

            div.list
                display: grid
                grid-gap: 10px

            div.total_data
                hr
                    background: #3068f7
                    align-self: center
                    margin: unset

            div.tr
                display: flex
                justify-content: space-between
                grid-gap: 16px
                font-weight: 400
                font-size: 16px
                line-height: 130%
                color: #343a60
                +s(l)
                    font-size: 12px
                    grid-gap: 10px

                span:first-child
                    opacity: 0.8
                span:last-child
                    text-align: right
                    max-width: 60%

            hr
                display: block
                width: 100%
                height: 1px
                background: #dddde4
                margin-top: 20px
                margin-bottom: 20px
                +s(l)
                    margin-bottom: 10px

            a.red
                font-weight: 700
                font-size: 16px
                line-height: 130%
                text-decoration: underline
                text-decoration-skip-ink: none
                color: #d819a3
                justify-self: end
                margin-top: 8px
                +s(l)
                    font-size: 14px

                &:hover
                    text-decoration: none

            div.links
                display: grid
                grid-gap: 12px
                a.blue
                    display: block
                    font-weight: 700
                    font-size: 16px
                    line-height: 130%
                    text-decoration: underline
                    text-decoration-skip-ink: none
                    color: #3068f7
                    +s(l)
                        font-size: 14px
                    &:hover
                        text-decoration: none

            div.question
                display: flex
                align-items: center
                gap: 5px
                div.tooltip
                    position: relative
                    cursor: pointer
                    div.tooltip_text
                        display: none
                        position: absolute
                        top: 0
                        left: calc(100% + 10px)
                        border-radius: 10px
                        background: #d819a3
                        font-weight: 500
                        font-size: 12px
                        line-height: 130%
                        color: #eef5fd
                        padding: 10px 15px
                        width: 295px
                        text-align: left
                        z-index: 10
                    &:hover
                        div.tooltip_text
                            display: block

            div.tr.total
                margin-top: 18px
                margin-bottom: 24px
                +s(l)
                    margin-top: 10px
                    margin-bottom: 10px
                div
                    display: grid
                    align-content: end
                    grid-gap: 4px
                div:first-child
                    font-weight: 600
                    font-size: 16px
                    line-height: 130%
                    color: #5b5b5b
                    +s(l)
                        font-size: 14px
                div:last-child
                    font-weight: 400
                    font-size: 20px
                    line-height: 130%
                    text-align: right
                    color: #343a60
                    +s(l)
                        font-size: 14px
                i
                    font-style: normal
                    font-weight: 400
                    font-size: 12px
                    line-height: 130%
                    color: #343a60
                    opacity: 0.5

            span.policy
                font-weight: 400
                font-size: 14px
                line-height: 130%
                color: #343a60
                margin-bottom: 24px
                +s(l)
                    font-size: 12px
                    margin-bottom: 20px
                a
                    text-decoration: underline
                    text-decoration-skip-ink: none
                    color: #3068f7
                    &:hover
                        text-decoration: none

            button
                background: #3068f7
                width: 100%
