include ../../common/pug/_mixins.pug

section.main
    div.container

        div.breadcrumbs
            a(href="index.html") Главная - 
            a(href="index.html") Блог - 
            span Повышение туристических налогов

        h1 Повышение туристических налогов

        div.article
            div.side
                div.time
                    span 10.12.2024
                    div.duration
                        img(src="images/article_clock.svg")
                        span 12 мин
                div.author
                    div.avatar
                        img(src="images/6.webp")
                        div.name
                            h5 Марина Константинопольская
                            span.position эксперт по налогообложению
                div.page_menu
                    h5 О чем вы узнаете
                    div.list
                        a(href="#first") Что такое туристический налог
                        a(href="#second") Как рассчитывают туристический налог
                        a(href="#third") Почему номер в гостинице столько стоит
                        a(href="#fourth") Как платить туристический налог

            div.content
                h5 С 2025 года в России появится туристический налог
                p Власти муниципалитетов и городов федерального значения сами решают, вводить его или нет. Налог будут взимать с гостиниц и санаториев, а они включат его в стоимость проживания. Скорее всего, это приведет к удорожанию размещения. Расскажу обо всем подробнее.
                h5(id="first") Что такое туристический налог
                p Это местный налог, который будут взимать с гостиничного бизнеса. Полученные средства планируют направить на создание, ремонт и реконструкцию объектов туристической инфраструктуры, например парковых зон, пешеходных и велосипедных дорожек, фонтанов. Чтобы обязать гостиницы платить турналог в конкретном населенном пункте, муниципалитеты должны принять соответствующий нормативный правовой акт, а Москва, Санкт-Петербург и Севастополь — региональный закон. Туристический налог придет на смену курортному сбору, который в качестве эксперимента до конца 2024 года взимают в некоторых регионах. Курортный сбор платят не гостиницы, а постояльцы без регистрации в регионе. Этот эксперимент признали неудачным и решили не продолжать. По словам вице-президента Российского союза туриндустрии Алексея Мусакина, курортный сбор трудозатратен для гостиниц, потому что им приходится открывать специальный счет. Плюс это добавляет нагрузки на персонал. Так, крупным отелям нужен отдельный человек, который будет оформлять документы. Мусакин считает, что поскольку туристический налог «переходит от человека к отелю», работать с ним будет значительно проще.
                img(src="images/39.webp")

                div.subscribe
                    h5 Подпишитесь на рассылку
                    div.form
                        form
                            +input('Введите Email', true)
                            button Подписаться
                        span.policy Нажимая «Подписаться», вы соглашаетесь с #[a(href="index.html") политикой конфиденциальности]

                h5(id="second") Как рассчитывают туристический налог
                p Сумму, которую отель должен будет уплатить, рассчитывают по формуле:
                span.note Туристический налог = Налоговая база × Ставка налога
                p Налог надо исчислить на дату полного расчета с постояльцем за гостиничные услуги . Налоговая база — стоимость проживания в гостиничном номере или хостеле без учета самого налога и НДС. В налоговую базу не включают стоимость проживания в отеле льготных категорий постояльцев. О них расскажу ниже.
                h5(id="third") Почему номер в гостинице столько стоит
                p Ставки туристического налога определяют нормативные акты муниципалитетов и городов федерального значения. Ставка не должна превышать:
                ol
                    li В 2025 году — 1% от налоговой базы.
                    li В 2026 году — 2%.
                    li В 2027 году — 3%.
                    li В 2028 году — 4%.
                    li В 2029 году и далее — 5%.

                p Но минимальный туристический налог — 100 ₽ в сутки. Если процент от налоговой базы меньше, нужно заплатить 100 ₽. Например, сутки проживания в доме отдыха стоят 6000 ₽. При ставке 1% налог в 2025 году — 60 ₽. Но это меньше минимального налога, поэтому будет 100 ₽. Санатории всегда платят минимальный налог. На них повышение ставки не повлияет. Местные власти вправе варьировать налоговые ставки в зависимости от сезонности и категории гостиницы. Например, в Санкт-Петербурге ставка на 2025 год — 1% от стоимости номера. Потом в зависимости от сезона она будет меняться и ежегодно увеличиваться. В 2026 году в низкий сезон с 1 января по 31 марта и с 1 октября по 31 декабря ставка будет 1% от стоимости номера, а в высокий с 1 апреля по 30 сентября — 2%. В 2027 году в низкий сезон ставка будет 1,5%, в высокий — 3%. Менять ставку власти могут даже чаще, чем раз в квартал, — это налоговый период для туристического налога.
                h5(id="fourth") Как платить туристический налог
                p Это местный налог, который будут взимать с гостиничного бизнеса. Полученные средства планируют направить на создание, ремонт и реконструкцию объектов туристической инфраструктуры, например парковых зон, пешеходных и велосипедных дорожек, фонтанов. Чтобы обязать гостиницы платить турналог в конкретном населенном пункте, муниципалитеты должны принять соответствующий нормативный правовой акт, а Москва, Санкт-Петербург и Севастополь — региональный закон. Туристический налог придет на смену курортному сбору, который в качестве эксперимента до конца 2024 года взимают в некоторых регионах. Курортный сбор платят не гостиницы, а постояльцы без регистрации в регионе. Этот эксперимент признали неудачным и решили не продолжать. По словам вице-президента Российского союза туриндустрии Алексея Мусакина, курортный сбор трудозатратен для гостиниц, потому что им приходится открывать специальный счет. Плюс это добавляет нагрузки на персонал. Так, крупным отелям нужен отдельный человек, который будет оформлять документы. Мусакин считает, что поскольку туристический налог «переходит от человека к отелю», работать с ним будет значительно проще.

                div.controls
                    div.tags
                        span путешествия
                        span налоги
                        span путешествия
                        span налоги
                    a(href="index.html").share
                        img(src="images/article_share.svg")
                        span Поделиться