section.main
    div.container

        div.breadcrumbs
            a(href="index.html") Главная - 
            span Блог

        div.swiper.blog_main_texts
            div.swiper-wrapper
                div.swiper-slide
                    h1 Охота за сиянием — тебе в Мурманск!
                    span Полуостров Кольский уже давно стал кинозвездой. Здесь снимали «Морозко», «Долгая счастливая жизнь», «Кукушка» и другие знаменитые фильмы.
                div.swiper-slide
                    h1 Охота за сиянием — тебе в Мурманск!
                    span Полуостров Кольский уже давно стал кинозвездой. Здесь снимали «Морозко», «Долгая счастливая жизнь», «Кукушка» и другие знаменитые фильмы.
                div.swiper-slide
                    h1 Охота за сиянием — тебе в Мурманск!
                    span Полуостров Кольский уже давно стал кинозвездой. Здесь снимали «Морозко», «Долгая счастливая жизнь», «Кукушка» и другие знаменитые фильмы.

            div.swiper-pagination

    div.swiper.blog_main_images
        div.swiper-wrapper
            div.swiper-slide
                img(src="images/38.webp")
            div.swiper-slide
                img(src="images/38.webp")
            div.swiper-slide
                img(src="images/38.webp")