extends ../components/common/pug/_layout.pug

block links
    link(rel="stylesheet", href="css/index.css")

block content
    include ../components/sections/index/_main.pug
    include ../components/sections/index/_tours.pug
    include ../components/sections/index/_hot.pug
    include ../components/sections/index/_advantages.pug
    include ../components/sections/_reviews.pug
    include ../components/sections/_expert.pug
    include ../components/sections/index/_blog.pug
    include ../components/sections/index/_promotional.pug
    include ../components/sections/index/_partners.pug
    include ../components/sections/index/_notes.pug
