extends ../components/common/pug/_layout.pug

block links
    link(rel="stylesheet", href="css/pages.css")

block content
    section.pages
        div.container
            h5 Страницы
            div.list
                a(href="index.html") Главная
                a(href="catalog.html") Каталог
                a(href="category.html") Категория
                a(href="category_excursion_directions.html") Категория - Туры - Направления
                a(href="category_excursion_direction.html") Категория - Туры - Направление
                a(href="category_hotels_directions.html") Категория - Отели - Направления
                a(href="category_hotels_direction.html") Категория - Отели - Направление
                a(href="category_airplanes.html") Категория - Авиабилеты
                a(href="category_airplanes_choosen_from.html") Категория - Авиабилеты - Туда
                a(href="category_airplanes_choosen_to.html") Категория - Авиабилеты - Туда-Обратно
                a(href="single_tour.html") Карточка тура
                a(href="single_hotel.html") Карточка отеля
                a(href="order_tour.html") Оформление - Тур
                a(href="order_hotel.html") Оформление - Отель
                a(href="order_airplane.html") Оформление - Авиабилеты
                a(href="success.html") Бронирование завершено

                a(href="account_profile_tourist.html") Аккаунт - Профиль - Турист
                a(href="account_profile_agency.html") Аккаунт - Профиль - Агентство
                a(href="account_orders_empty.html") Аккаунт - Заказы - Нету
                a(href="account_orders_tourist.html") Аккаунт - Заказы - Турист
                a(href="account_orders_agency.html") Аккаунт - Заказы - Агентство
                a(href="account_order_tourist.html") Аккаунт - Заказ - Турист
                a(href="account_order_agency_tour.html") Аккаунт - Заказ - Агентство - Тур
                a(href="account_order_agency_hotel.html") Аккаунт - Заказ - Агентство - Отель
                a(href="account_order_agency_airplane.html") Аккаунт - Заказ - Агентство - Авиабилет
                a(href="account_documents.html") Аккаунт - Документы
                a(href="account_reports.html") Аккаунт - Отчеты
                a(href="account_bonus.html") Аккаунт - Бонусы

                a(href="departures.html") Об отправлениях
                a(href="contacts.html") Контакты
                a(href="agency.html") Агентам
                a(href="about.html") О нас
                a(href="blog.html") Блог
                a(href="article.html") Статья
                a(href="discounts.html") Акции
                a(href="discount.html") Акция

            h5 Попапы
            div.list
                a(data-modal-target="signin") Вход
                a(data-modal-target="registration") Регистрация
                a(data-modal-target="recover_password_form") Восстановление пароля - Форма
                a(data-modal-target="recover_password_message") Восстановление пароля - Сообщение
                a(data-modal-target="callback") Мы вам перезвоним
                a(data-modal-target="choose_tour") Подобрать тур
                a(data-modal-target="bus") Места автобус