extends ../components/common/pug/_layout.pug

block links
    link(rel="stylesheet", href="css/single.css")

block content
    include ../components/sections/single/_main_hotel.pug
    include ../components/sections/single/_about_hotel.pug
    include ../components/sections/single/_hotellist.pug
