@import ../components/common/sass/_mixins

section.success
    margin-top: 100px
    margin-bottom: 100px

    div.container
        display: grid
        justify-items: center
        align-items: center
        text-align: center
        img
            margin-bottom: 40px
            max-width: 100%
        h1
            margin-bottom: 20px
        a
            text-decoration: underline
            text-decoration-skip-ink: none
            color: #3068f7
