dialog(data-modal-name="bus")
    div.container
        img(src="images/dialog_cross.svg", data-modal-close).cross
        h3 Выберите место
        
        div.places
            div.row
                div.place 15
                span Свободно
            div.row
                div.place 15
                span Занято

        div.scheme
            span.title Схема транспорта
            div.start
                span Водитель
                div.enter
            div.row
                span.note 1
                div.group
                    div.place 1
                    div.place 2
                div.group
                    div.place 3
                    div.place 4
            div.row
                span.note 2
                div.group
                    div.place 5
                    div.place 6
                div.group
                    div.place 7
                    div.place 8
            div.row
                span.note 3
                div.group
                    div.place 9
                    div.place 10
                div.group
                    div.place 11
                    div.place 12
            div.row
                span.note 4
                div.group
                    div.place 13
                    div.place 14
                div.group
                    div.place 15
                    div.place 16
            div.row
                span.note 5
                div.group
                    div.place 17
                    div.place 18
                div.group
                    div.place 19
                    div.place 20
            div.row
                span.note 6
                div.group
                    div.place 21
                    div.place 22
                div.group
                    div.place 23
                    div.place 24
            div.row
                span.note 7
                div.group
                    div.place 25
                    div.place 26
                div.group
                    div.enter
            div.row
                span.note 8
                div.group
                    div.place 27
                    div.place 28
                div.group
                    div.place 29
                    div.place 30
            div.row
                span.note 9
                div.group
                    div.place 31
                    div.place 32
                div.group
                    div.place 33
                    div.place 34
            div.row
                span.note 10
                div.group
                    div.place 35
                    div.place 36
                div.group
                    div.place 37
                    div.place 38
            div.row
                span.note 11
                div.group
                    div.place 39
                    div.place 40
                div.group
                    div.place 41
                    div.place 42
            div.row
                span.note 12
                div.group
                    div.place 43
                    div.place 44
                div.group
                    div.place 45
                    div.place 46
            div.row
                span.note 13
                div.group
                    div.place 47
                    div.place 48
                    div.place 49
                div.group
                    div.place 50
                    div.place 51