
dialog[data-modal-name=choose_tour]
    display: grid
    justify-items: end
    width: 100%
    height: 100%
    max-width: unset
    max-height: unset
    background: unset

    div.container

        div.text
            display: grid
            grid-gap: 16px
            margin-bottom: 24px
            span
                color: #16192c

        form
            fieldset.input
                margin-bottom: 10px

            fieldset.password
                margin-bottom: 10px

            button
                margin-top: 30px
                margin-bottom: 26px
                width: 100%
                background: #3068f7

            label.checkbox
                margin-bottom: 20px
