dialog(data-modal-name="recover_password_form")
    div.container
        img(src="images/dialog_cross.svg", data-modal-close).cross
        h3 Восстановление пароля
        span Укажите адрес эл. почты, который вы использовали при регистрации. Мы вышлем вам инструкцию по восстановлению пароля
        form(action="")
            +input('Email', true)
            button Восстановить
                       