dialog(data-modal-name="recover_password_message")
    div.container
        img(src="images/dialog_cross.svg", data-modal-close).cross
        h3 Восстановление пароля
        span Мы отправили ссылку для востановления пароля на #[b info545@gmail.com]
                       