
dialog[data-modal-name=recover_password_message]
    display: grid
    justify-items: end
    width: 100%
    height: 100%
    max-width: unset
    max-height: unset
    background: unset

    div.container

        h3
            display: block
            margin-bottom: 16px
        b
            font-weight: 600
            color: #3068f7

        span
            color: #16192c
