
dialog[data-modal-name=recover_password_form]
    display: grid
    justify-items: end
    width: 100%
    height: 100%
    max-width: unset
    max-height: unset
    background: unset

    div.container

        h3
            display: block
            margin-bottom: 16px

        fieldset.input
            margin-top: 24px
            margin-bottom: 30px

        span
            color: #16192c

        button
            width: 100%
            background: #3068f7
