
dialog[data-modal-name=registration]
    display: grid
    justify-items: end
    width: 100%
    height: 100%
    max-width: unset
    max-height: unset
    background: unset

    div.container

        h3
            display: block
            margin-bottom: 16px

        div.tabs_captions
            display: grid
            grid-template-columns: repeat(2, 1fr)
            margin-bottom: 32px
            span.tab_caption
                cursor: pointer
                color: rgba(52, 58, 96, 0.5)
                opacity: 0.6
                border-bottom: 2px solid transparent
                text-align: center
                padding: 15px
                border-bottom: 2px solid rgba(0, 0, 0, 0.2)
                transition: all 0.3s
            span.tab_caption.opened
                color: #3068f7
                opacity: 1
                border-bottom: 2px solid #3068f7

        div.tab_content
            display: none
            &.opened
                display: grid

            form
                fieldset.input
                    margin-bottom: 10px

                fieldset.password
                    margin-bottom: 10px

                div.phone
                    display: grid
                    grid-template-columns: 1fr max-content
                    grid-gap: 10px
                    a
                        display: grid
                        align-items: center
                        justify-items: center
                        border-radius: 10px
                        height: var(--form-element-height)
                        padding: var(--form-element-padding)
                        background: rgba(221, 221, 228, 0.4)
                        font-weight: 700
                        text-align: center
                        color: #343a60
                        min-width: 180px
                        +s(s)
                            min-width: unset
                button
                    margin-top: 30px
                    margin-bottom: 26px
                    width: 100%
                    background: #3068f7

                label.checkbox
                    margin-bottom: 20px
