section.comfort
    div.container

        div.title
            h3 Комфорт и безопасность
            span Мы предлагаем комфортабельный транспорт с современными удобствами (кондиционер, аудио-визуальное оборудование, кипятильник). Все наши водители — опытные профессионалы.

        div.gallery
            img(src="images/29.webp")
            img(src="images/30.webp")
            img(src="images/31.webp")