section.direction
    div.container
        div.content
            div.title
                h3 Наши направления
                img(src="images/about_map.webp", alt="Наши направления").mobile
                span Мы предлагаем туры по России (Санкт-Петербург, Краснодарский край, Нижегородская область и другие регионы) и за рубеж. 
            div.list
                span Греции, Италии, Турции, Египте, Тайланде, Чехии, Индии (Гоа), Испании
                span Отдых на Чёрном море, Крым, Геленджик, Сочи, Абхазия
        div.preview
            img(src="images/about_map.webp", alt="Наши направления")