section.garantee
    margin-top: 100px
    margin-bottom: 68px
    +s(l)
        margin-top: 50px
        margin-bottom: 50px

    div.container
        display: grid
        grid-template-columns: 2fr 3fr
        grid-gap: 20px
        +s(l)
            grid-template-columns: repeat(2, 1fr)
            grid-gap: 10px
        +s(m)
            grid-template-columns: 1fr
            grid-gap: 28px

        div.title
            display: grid
            align-content: start
            grid-gap: 32px
            +s(m)
                grid-gap: 15px

            div.registry
                display: grid
                grid-template-columns: max-content 1fr
                align-items: center
                grid-gap: 15px
                border-radius: 10px
                background: #f2f5ff
                padding: 10px 15px
                max-width: 580px

        div.text
            display: grid
            grid-gap: 20px
            opacity: 0.8
            +s(l)
                grid-gap: 12px
