section.main
    div.container

        div.breadcrumbs
            a(href="index.html") Главная - 
            span О нас

        h1 Ваша любовь к путешествиям - #[b наша страсть!]

        div.blocks
            div.text
                h3 #[b Мы – команда профессионалов], искренне влюбленных в путешествия и готовых поделиться этой любовью с вами.
                p С 2011 года мы успешно работаем на рынке туристских услуг, помогая людям открывать для себя новые горизонты, получать яркие впечатления и создавать незабываемые воспоминания. 
                p С 2010 года, начиная как турагентство, мы накопили бесценный опыт работы с ведущими туроператорами, гостиницами и туристическими представительствами по всему миру. Этот опыт позволил нам стать надежным туроператором по России, предлагающим новые туры и направления для частных и корпоративных клиентов. Наши путешествия охватывают широкий спектр интересов, от экскурсионных туров до пляжного отдыха и экзотических поездок.

            div.advanatges
                div.item
                    div.digit 2000
                    span.note Более 2000 успешно организованных туров
                div.item
                    div.digit 200
                    span.note Сотрудничество с более 200 ведущими отелями и туроператорами.
                div.item
                    div.digit 50
                    span.note Более 50 различных направлений для путешествий.

            img(src="images/25.webp")