section.mission
    div.container

        img(src="images/about_mission.svg")
        h2 Наша миссия
        span Мы видим туризм как важный фактор межкультурного общения и стараемся предоставить вам не только отдых, но и возможность познакомиться с культурой, историей и традициями разных стран и регионов. Мы стремимся создавать путешествия, которые будут не только расслабляющими, но и познавательными, обогащающими ваш внутренний мир.
    img(src="images/26.webp", alt="").preview