section.about_tour
    div.container

        div.about
            div.details
                div.difficulty
                    span.note Сложность
                    div.stars
                        div.filled
                        div.filled
                        div.empty
                        div.empty
                        div.empty
                div.tags
                    span.note Проживание и комфорт
                    div.list
                        span Простой
                        span Завтраки включены
            hr
            div.description
                p Автобусная обзорная экскурсия "Здравствуй, Столица" по  проспектам и улицам Москвы, с фотостопами: Тверская улица, Манежная площадь, Большой театр, Лубянка, Новодевичий монастырь, Воробьевы горы (смотровая площадка), Университет, Кутузовский проспект, Васильевский спуск, Кремлевская набережная, Москва-Сити и многое другое...
                a(href="###") Читать полную программу тура
            hr
            div.inprice
                div.text
                    span.note В стоимость тура входит:
                    span Трансфер на автобусе / микроавтобусе, экскурсия на экотропе от егеря, входные билеты
                    i Важно! Экскурсия от егеря проводится не только для нашей группы, а для всех прибывших на экотропу!
                div.icons
                    div.icon: img(src="images/card_train.svg", alt="Поезд")
                    img(src="images/single_plus.svg")
                    div.icon: img(src="images/single_map.svg", alt="Карта")
                    img(src="images/single_plus.svg")
                    div.icon: img(src="images/single_tickets.svg", alt="Билеты")
            hr
            div.gallery
                img(src="images/20.webp")
                img(src="images/20.webp")
                img(src="images/20.webp")
                img(src="images/20.webp")
                img(src="images/20.webp")
                a.more
                    span Еще 1000 фото
                    img(src="images/20.webp")
            div.impressions
                h3 Главные впечатления
                div.list
                    div.impression
                        img(src="images/22.webp", alt="Необычные места ВДНХ")
                        h4 Необычные места ВДНХ
                        span Нам представится возможность загадать желание у «Счастливой семьи» и увидеть легендарный Зеленый театр
                    div.impression
                        img(src="images/22.webp", alt="Резиденция президента России")
                        h4 Резиденция президента России
                        span Нам представится возможность загадать желание у «Счастливой семьи» и увидеть легендарный Зеленый театр
                    div.impression
                        img(src="images/22.webp", alt="Экспозиция в парке Победы")
                        h4 Экспозиция в парке Победы
                        span Нам представится возможность загадать желание у «Счастливой семьи» и увидеть легендарный Зеленый театр

        div.total
            div.order
                span.price от 200 000 000 ₽
                div.buttons
                    button Рассчитать стоимость
                    a(href="index.html") Рассчитать стоимость на группу
                div.duration
                    span.note продолжительность:
                    div.list
                        div.day
                            img(src="images/single_sun.svg")
                            span 7 дней
                        div.night
                            img(src="images/single_moon.svg")
                            span 6 ночей
                div.details_first
                    div.date
                        span.note Дата проведения:
                        span 31 окт. — 6 нояб.
                    div.time
                        span.note Время отправления:
                        span 10:00
                    div.type
                        span.note Тип экскурсии:
                        span Автобусная
                div.details_second
                    div.accommodation
                        span.note Проживание во время тура
                        span Гостиница
                        i 5 ночей
                    div.comfort
                        span.note Проживание и комфорт
                        div.list
                            span Простой
                            span Завтраки включены
                    div.difficulty
                        span.note Сложность
                        div.stars
                            div.filled
                            div.filled
                            div.empty
                            div.empty
                            div.empty
                    a(href="index.html") К маршруту
                div.details_third
                    div.group
                        span.note Группа
                        span до 25 участников
                    div.ages
                        span.note Минимальный возраст
                        span 5 лет
                    div.place
                        span.note Место сбора группы:
                        span Отправление Н. Новгород пл. Ленина. Трансфер в Копорье
                        a(href="index.html") Выберите место отправления
                    div.links
                        a(href="index.html") Информация для Туристов
                        a(href="index.html") Информация для Агентств

            div.support
                div.question
                    h5 Задайте вопрос
                    div.phone_tourist
                        a(href="tel:8 (831) 413-11-23") 8 (831) 413-11-23
                            img(src="images/header_phone_arrow.svg", alt="")
                        span Туристам

                    div.phone_agency
                        a(href="tel:8 (831) 413-11-23") 8 (831) 413-11-23
                            img(src="images/header_phone_arrow.svg", alt="")
                        span Туристам
                div.message
                    h5 Или напишите в сообщении
                    div.socials
                        a(href="https://telegram.org", target="blank")
                            img(src="images/header_telegram.svg", alt="Telegram")
                        a(href="https://vk.ru", target="blank")
                            img(src="images/header_vkontakte.svg", alt="Vkontakte")

            div.advantages
                div.item
                    img(src="images/filter_map.svg", alt="Сертифицированный туроператор")
                    div
                        strong Сертифицированный туроператор
                        span 5000 великолепных туров
                div.item
                    img(src="images/filter_certificate.svg", alt="в реестре туроператоров РТО 021180")
                    div
                        strong в реестре туроператоров РТО 021180
                        span по всей России





