include ../../common/pug/_mixins.pug

section.habitation
    div.container
        h3 Проживание

        div.grid

            div.note
                span.note Проживание во время тура
                div
                    span Гостиница
                    span.days 5 ночей

            +habitation_card