section.main_tour
    div.container
        
        div.breadcrumbs
            a(href="index.html") Главная 
            span.divide - 
            a(href="index.html") Каталог 
            span.divide - 
            a(href="index.html") Популярные направления 
            span.divide - 
            a(href="index.html") Туры в Москву 
            span.divide - 
            span Майские праздники в Москве

        
        div.text
            div.title
                h1 Майские праздники в Москве
                div.share
                    a(href="index.html") PDF версия для печати
                    a(href="index.html") 
                        img(src="images/single_share.svg", alt="Поделиться")
                        span Поделиться
            div.details
                div.detail
                    img(src="images/single_pin.svg", alt="Россия, Санкт-Петербург")
                    span Россия, Санкт-Петербург
                div.detail
                    img(src="images/single_bus.svg", alt="из Н.Новгорода, автобус, 8-9 часов")
                    span из Н.Новгорода, автобус, 8-9 часов

        img(src="images/19.webp").background