section.main_hotel
    div.container
        
        div.breadcrumbs
            a(href="index.html") Главная 
            span.divide - 
            a(href="index.html") Каталог 
            span.divide - 
            a(href="index.html") Отели
            span.divide - 
            span Гостевой дом Villa Rosa (Абхазия)

        
        div.text
            div.title
                h1 Гостевой дом Villa Rosa (Абхазия)
                div.share
                    a(href="index.html") 
                        img(src="images/single_share.svg", alt="Поделиться")
                        span Поделиться
            div.details
                div.stars
                    div.star
                        include ../../../images/hotel_card_star.svg
                    div.star
                        include ../../../images/hotel_card_star.svg
                    div.star
                        include ../../../images/hotel_card_star.svg
                    div.star.empty
                        include ../../../images/hotel_card_star.svg
                    div.star.empty
                        include ../../../images/hotel_card_star.svg
                div.detail
                    span Гагра, ул Бостонжана, д.15
                    a(href="index.html") Показать на карте

        img(src="images/41.webp").background