include ../../common/pug/_mixins.pug

section.program
    div.container

        div.title
            h2 Программа тура
            span Посещение мини зоопарка кролики, козлики, барашки, уточки… #[br]Пешеходная экскурсия по экотропе "Копорье". Вас ждет небольшой пеший маршрут протяженностью около 2х км по лесной дороге, в ходе которого Вы встретите избушку Бабы Яги, сможете изучить различные плакаты с информацией о животных обитающих в этих лесах. Во время экскурсии Вы услышите рассказ от местного егеря о жизни пятнистых оленей: каким образом их разводят, как ведут себя в дикой природе, чем питаются. Сейчас в Копорье обитает около 80 особей пятнистого оленя.

        div.schedule
            div.day
                +program_accordion('День 1. Заселение')
                +program_accordion('День 2. Заселение')
                +program_accordion('День 3. Заселение')
                +program_accordion('День 4. Заселение')
