section.terms
    div.container
        h3 Условия тура

        div.details
            div.place
                span.note Место сбора группы:
                span Отправление Н. Новгород пл. Ленина. Трансфер в Копорье
                a(href="index.html") Выберите место отправления
            div.duration
                span.note продолжительность:
                div.row
                    div.day
                        img(src="images/single_sun.svg")
                        span 7 дней
                    div.night
                        img(src="images/single_moon.svg")
                        span 6 ночей

        div.inprice
            h5 Включено в стоимость
            ul
                li проживание в выбранной гостинице;
                li питание: завтраки со второго дня тура;
                li экскурсионная программа в соответствии с днями недели;
                li транспортное обслуживание: во время обзорной экскурсии в пятницу.
        div.separately
            h5 Включено в стоимость
            ul
                li авиа- и ж/д билеты до Москвы и обратно;
                li трансфер ж/д вокзал или аэропорт — гостиница и обратное направление;
                li встреча туристов у вагона гидом и сопровождение в гостиницу общественным транспортом: 1 500 руб. за встречу, в случае прибытия поезда в Москву не раньше 7:00;
                li трансфер аэропорт — гостиница (за машину) — 3 900 руб.;