section.tourlist
    margin-top: 68px
    margin-bottom: 68px
    +s(l)
        margin-top: 50px
        margin-bottom: 50px

    div.container
        h3
            margin-bottom: 24px

        div.swiper
            +s(m)
                overflow: visible
