include ../../common/pug/_mixins.pug

section.tourlist
    div.container
        h2 Вас может заинтересовать

        div.swiper.tours
            div.swiper-wrapper
                div.swiper-slide: +tour_card('images/2.webp', 'Круизы', 'из Нижнего Новгорода', 'от 30 900 ₽')
                div.swiper-slide: +tour_card('images/2.webp', 'Круизы', 'из Нижнего Новгорода', 'от 30 900 ₽')
                div.swiper-slide: +tour_card('images/2.webp', 'Круизы', 'из Нижнего Новгорода', 'от 30 900 ₽')
                div.swiper-slide: +tour_card('images/2.webp', 'Круизы', 'из Нижнего Новгорода', 'от 30 900 ₽')
                div.swiper-slide: +tour_card('images/2.webp', 'Круизы', 'из Нижнего Новгорода', 'от 30 900 ₽')
                div.swiper-slide: +tour_card('images/2.webp', 'Круизы', 'из Нижнего Новгорода', 'от 30 900 ₽')
                div.swiper-slide: +tour_card('images/2.webp', 'Круизы', 'из Нижнего Новгорода', 'от 30 900 ₽')
                div.swiper-slide: +tour_card('images/2.webp', 'Круизы', 'из Нижнего Новгорода', 'от 30 900 ₽')
                div.swiper-slide: +tour_card('images/2.webp', 'Круизы', 'из Нижнего Новгорода', 'от 30 900 ₽')