section.main
    div.container

        div.breadcrumbs
            a(href="index.html") Главная - 
            a(href="index.html") Акции - 
            span Новогодние туры - 2026. Раннее бронирование

        div.content

            div.title
                h1 Новогодние туры - 2026. Раннее бронирование
                span 10.12.2024

            div.text
                span Планируете летний отдых? Воспользуйтесь преимуществом раннего бронирования и сэкономьте 10% на отдыхе в уютном отеле Amra Sunrise 4* в Цандрыпше. Минимальный срок проживания по акции — 3 ночи.
                h5 Условия акции
                ul
                    li Направление: Абхазия
                    li Города вылета: Все города и туры без перелёта
                    li Даты бронирования: 09.01.2025 – 31.03.2025
                    li Даты проживания: 01.05.2025 – 20.10.2025
                h5 Отели, участвующие в акции
                ul
                    li Amra Sunrise 4* (Цандрыпш)
                h5 Что вас ждёт:
                ul
                    li Просторные номера с современным дизайном — идеальный выбор для комфортного отдыха.
                    li Удобное расположение: всего в нескольких минутах от чистейшего пляжа.
                    li Разнообразие блюд на завтрак, чтобы ваш день начинался приятно.
                    li Приветливый персонал и сервис высокого уровня для беззаботного отдыха.
                    li И самое главное — скидка 10% при раннем бронировании.
                    li Не упустите возможность отдохнуть в одном из отелей Абхазии с выгодой. Забронируйте свой отпуск в Amra Sunrise 4* уже сейчас и наслаждайтесь летом с комфортом!
                button Выбрать тур
